[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=digger
Group=www-data
WorkingDirectory=/home/digger/portfolio-project
ExecStart=/home/digger/sandbox/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          versal.wsgi:application

[Install]
WantedBy=multi-user.target

exec exec /home/digger/sandbox/bin/gunicorn \
   --name=portfolio-project \
   --pythonpath=/home/digger/sandbox/ \
   --bind=0.0.0.0:9000 \
   --config /etc/gunicorn.d/gunicorn.py \
   conf.wsgi:application
